<div class="py-4 pr-4 flex sticky top-4">
  <div class="flex flex-col -my-1 w-1/4 ">
    <div
      class="flex-1 p-1 shadow-md m-1 w-32 h-32"
      *ngFor="let im of subImg; index as i"
      (click)="changeImg(i)"
    >
      <img class="w-full h-full object-contain" [src]="im.imageUrl" alt="" />
    </div>
  </div>
  <div class="rounded-md overflow-hidden shadow-md p-20 w-[520px] h-[520px]" id="main-img">
    <img class="w-full h-full object-contain " [src]="mainImg" alt="" />
  </div>

</div>
