<div
  class="mb-8 mx-2 px-3 pb-3 text-sm rounded-md overflow-hidden relative shadow-md"
>
  <div class="w-full h-60">
    <img
      class="w-full h-full object-cover"
      src="/assets/images/product-2.jpg"
      alt=""
    />
  </div>
  <div class="pt-2 flex justify-between">
    <div class="">
      <h3 class="font-medium text-gray-800" [routerLink]="['/',product.category,product.sku]">{{ product.name }}</h3>
      <p class="text-xs text-gray-700 py-1">{{ product.description }}</p>
      <rating></rating>
      <div class="pt-2">
        <secondry-button (click)="addToCart()">Add to cart</secondry-button>
      </div>
    </div>
    <div class="w-12 font-bold">
      <sup>$</sup>{{ product.pricing.basePrice }}.<small>00</small>
    </div>
  </div>
  <div class="absolute top-4 right-5">
    <icon-button (click)="addToWishlist()">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </icon-button>
  </div>
</div>
