<div class="px-16 py-12 flex justify-between">
  <div class="flex">

    <dropdown title="Headphone Type" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>
    </dropdown>

    <dropdown title="Prices" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>
    </dropdown>

    <dropdown title="Review" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>

    </dropdown>

    <dropdown title="Color" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>
    </dropdown>

    <dropdown title="Material" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>
    </dropdown>

    <dropdown title="Offer" class="px-2">
      <ul>
        <li>Lorem, ipsum.</li>
        <li>Tenetur, iusto.</li>
        <li>Rerum, id.</li>
        <li>Similique, .</li>
      </ul>
    </dropdown>
  </div>

  <dropdown title="Sort by" type="secondary">
    <ul>
      <li>Lorem, ipsum.</li>
      <li>Tenetur, iusto.</li>
      <li>Rerum, id.</li>
      <li>Similique, .</li>
    </ul>
  </dropdown>
</div>